<head>
  <meta charset="UTF-8">
  <link rel="canonical" href="{{ site.url }}/{{ page.url }}/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta name="twitter:card" content="summary" />
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"/>
  {% else %}
  <meta property="og:description" content="{{ site.title | strip_html | strip_newlines | truncate: 160 }}"/>
  {% endif %}

  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  {% endif %}

  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}
  <meta property="article:author" content="@familyisschool">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
  <meta property="article:section" content="education">
  {% if page.tags %}
    <meta property="article:tag" content="{{ page.tags }}">
  {% else %}
    <meta property="article:tag" content="parenting, homeschooling">
  {% endif %}

  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  {% else %}
  <meta property="og:image" content="https://cdn.olai.in/fis/fis-web-pg.jpg">
  {% endif %}

  <title>
    {% if page.id == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &mdash; {{ site.title }}
    {% endif %}
  </title>
</head>
